$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-decktop: 1280px;

$red-color: #ff001b;
$text-accent-color: #ff6b08;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #545454;
$grey-bg-color: #f7f7f7;
$btn-accent-color: #ff6b01;
$text-modal-color: #8c8c8c;
