<header class="header header__library">
  <div class="container header__container">
    <div class="header__box">
      <div class="logo">
        <a href="./index.html" class="logo__icon">
          <img
            src="./images/header/film.svg"
            alt="Logo icon"
            width="24"
            height="24"
            class="logo__svg"
          />
        </a>
        <a class="logo__text" href="./index.html">Filmoteka</a>
      </div>
      <div class="auth">
        <a href="#" class="auth__link">
          <img
            src="./images/header/icons-avtorize.png"
            alt="authorization image"
            width="13"
            height="13"
          />
        </a>
        <a href="#" class="auth__text">Registration</a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a
              href="./index.html"
              class="header__nav-link header__nav-link--current"
            >
              HOME
            </a>
          </li>
          <li class="header__nav-item">
            <!-- <a href="/header_library.html" class="header__nav-link"
              >MY LIBRARY</a
            > -->
          </li>
        </ul>
      </nav>
    </div>
    <div class="library-buttons library-buttons__wrapper">
      <button
        class="library-buttons__item is-active"
        type="button"
        data-id="watched-btn"
        data-action="watched"
      >
        Watched
      </button>
      <button
        class="library-buttons__item"
        type="button"
        data-id="queue-btn"
        data-action="queue"
      >
        queue
      </button>
    </div>
  </div>
</header>
