<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__box">
          <div class="header__logo">
            <a href="./index.html" class="header__logo-icon">
              <img
                src="./images/header/film.svg"
                alt="Logo icon"
                width="24"
                height="24"
              />
              <span class="logo__text">Filmoteka</span>
            </a>
          </div>
          <div class="auth">
            <a href="#" class="auth__link">
              <img
                src="./images/header/icons-avtorize.png"
                alt="authorization image"
                width="18"
                height="18"
              />
              <span class="auth__text">Registration</span>
            </a>
          </div>
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a
                  href="./index.html"
                  class="header__nav-link header__nav-link--current"
                >
                  HOME
                </a>
              </li>
              <li class="header__nav-item">
                <a href="./library.html" class="header__nav-link">MY LIBRARY</a>
              </li>
            </ul>
          </nav>
        </div>
        <form action="submit" class="form">
          <input
            type="input"
            class="form__input searchInput"
            name="search-input"
            placeholder="Movie search"
          />
          <button type="submit" class="form__search-svg" aria-label="search">
            <img src="./images/header/search.svg" alt="" />
          </button>
        </form>
      </div>
    </header>
  </body>
</html>
