<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="film-list">
      <li class="film-list__item" data-modal-open></li>
    </ul>
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="modal__close-btn" data-modal-close>
          <svg class="modal__icon-close" width="11" height="11">
            <use href="./images/icons.svg#vector"></use>
          </svg>
        </button>
        <img class="film__poster" src="#" alt="Poster" />
        <h1 class="film__title"></h1>
        <ul class="film__properties">
          <li class="film__vote"></li>
          <li class="film__popularity"></li>
          <li class="film__original"></li>
          <li class="film__genre"></li>
        </ul>
        <h2 class="film__about">About</h2>
        <p class="film__about-text"></p>
        <button class="film__button-add-to-watch" type="button">
          ADD TO WATCHED
        </button>
        <button class="film__button-add-to-queue" type="button">
          ADD TO QUEUE
        </button>
      </div>
    </div>
  </body>
</html>
