#go-top {
  position: fixed;
  z-index: 105;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    -webkit-box-shadow: 0px 0px 5px 4px orange;
    -moz-box-shadow: 0px 0px 5px 4px orange;
    box-shadow: 0px 0px 5px 4px orange;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 28%;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    animation: arrow 2s linear infinite;
  }
  &:after {
    animation: arrow 2s linear infinite -1s;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, 28px) rotate(135deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, 17px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 6px) rotate(135deg);
  }
}
