body.light-theme {
    background-color: #fff;
    color: $text-modal-color;
}

body.dark-theme {
    background-color: #333333;
    color: $white-color;
}

.light-theme {
    background-color: #fff;
    color: $text-modal-color;
}

.dark-theme {
    color: lightgrey;
    background-color: #222;
}


.toolbar {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    right: 0;
    top: 180px;
}

.theme-switch {
    display: flex;
    align-items: center;
}

.theme-switch__icon {
    color: currentColor;
}